.main-left-img{
    width: 60%;
    padding-top: 10px;
}
.main-left-1{
    height: 300px;
    margin: 10px 0;
}
.main-left-title{
    font-size: 20px;
    text-align: left;
}
.main-left-title a{
    color: #333333;
}
.main-left-lxsy{
    text-align: right;
}
.main-left-lxsy a{color: #999999;font-size: 14px;}